.memory-container {
  text-align: center;
  padding: 20px;
}

.reset-btn {
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  background: #4caf50;
  color: white;
  border: none;
}

.score {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #2e7d32;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 130px);
  gap: 20px;
  justify-content: center;
}

.card {
  width: 130px;
  height: 130px;
  perspective: 1000px;
}

.card .inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.card .inner.flipped .back {
    display: none;
}


.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
}

.front {
  transform: rotateY(180deg);
  background: white;
}

.front img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  padding: 8px;
}
