
.back {
  background: #2e7d32;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
  cursor: pointer;
}

.back-btn {
    background-color: #f4d03f;   /* amarelo */
    border: none;
    color: #333;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px;
    transition: transform 0.2s, background-color 0.2s;
}

.back-btn:hover {
    background-color: #f7dc6f;
    transform: scale(1.05);
}

.back-btn:active {
    transform: scale(0.95);
}
